.profile {
  margin: 40px auto 51px;
  color: white;
  display: flex;
  max-width: 880px;
  width: 100%;
  min-height: 120px;
  justify-content: space-between;
}

@media screen and (max-width: 910px) {
  .profile {
    display: block;
    min-height: 286px;
    margin: 42px auto 36px;
    max-width: 282px;
  }
}